@media (max-width: 992px) {
  .navbar-header {
    h1 {
      display: none;
    }
  }

  nav {
    img {
      display: none;
    }
  }

  .search-box {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .review-button {
    width: 100%;
  }

  .hide-md-up {
    display: inherit;
  }
}

@media (min-width: 992px) {
  .navbar-header {
    height: 175px;
    position: relative;

    h1 {
      color: #fff;
      font-size: 60px;
      margin-bottom: 0;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  a.navbar-brand {
    width: 100%;
  }

  nav {
    img {
      padding-top: 20px;
    }
  }
}
