@import '../../../../assets/scss/baseStyles.scss';

.grant-category {
  list-style: none;
}

.grant-group {
  padding-left: 0;
  color: $color-grey-4;
  font-size: $regular;
  font-weight: $text-semibold;
  line-height: 1.2;
}

.grant-group-title {
  color: $color-grey-5;
  display: block;
  font-size: $regular;
  font-weight: $text-semibold;
  padding-bottom: 6px;
  line-height: 1.2;
}