@import '../../../../../assets/scss/baseStyles.scss';

.reviews-header {
  color: $color-grey-5;
  margin: 7px 0px;
  padding-bottom: 5px;
  font-size: $regular-big;
  font-weight: $text-semibold;
}

.review-count {
  color: $color-grey-5;
  font-weight: $text-semibold;
  font-size: 14px;
}

.progress {
  height: 15px;
  margin-top: 3px;
  margin-bottom: 15px;
  border-radius: 0px;
}

.progress-bar {
  background-color: #549fd1;
}

.review-bar {
  padding-right: 0px;
  padding-left: 7px;
  width: 50%;
}

.col-bottom-padding-10 {
  padding-bottom: 10px;
}

.score-col {
  font-size: 13px;
  padding-left: 0px;
  padding-right: 5px;
}

.aspects-col {
  padding-left: 15px;
  padding-right: 0px;
  border-left: 2px solid #dddddd;
}

.total-aspects {
  margin-top: 10px;
}

.aspect-box {
  padding: 3px 12px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 6px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  white-space: nowrap;
}

.aspect-count {
  padding-right: 6px;
  margin-right: 6px;
  border-right: 2px solid #dcebf5;
  color: #549fd1;
  font-weight: $text-semibold;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.company-rating-box {
  width: 120px;
  height: 120px;
  border: 1px #f1f1f1 solid;
  border-radius: 5px;

  .score {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-top: 12%;
    color: #2d89c9;
  }
  
  .score-total {
    text-align: center;
    color: $color-grey-4;
  }
}