@import '../../../assets/scss/baseStyles.scss';

@media (min-width: 801px){
  .sidebar.row {
    height: 100vmax;
  }
}

@media (max-width: 990px){
  .sidebar.row{
    padding-top: 60px;
  }
}

@media only screen and (min-width: $narrow-breakpoint) {
  .sidebar {
    width: 290px;
    background: $sidebar-color;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 100%;
    display: block;
    padding-top: 25px;
    padding-left: 1px;
  }
}